extends ../_template.pug

block title
  block subtitle
    | Mixed Input DB
    |

block page
  h1 Mixed Input DB

  div.boxes.wiki
    div
      div.box.index
        //- h2 Mixed Input database

        select.filter(onchange='midb.setFilterTier(this.value)')
          option(value='') All tiers
          option(value='PLAT') Platinum
          option(value='GOLD') Gold
          option(value='SILV') Silver
          option(value='BRON') Bronze
          option(value='NO') No support

        select.filter(name='category' id='category')
          option(value='all') All input types
          option(value='fps') First Person
          option(value='tp') Third Person
          option(value='cockpit') Cockpit
          option(value='twin') Twin Sticks
          option(value='platform') Platformer

        div.searchbar
          input.filter(
            id='searchbar'
            type='text'
            placeholder='Search'
            oninput='midb.setFilterName(this.value)'
          )
          span.searchreset(onclick="midb.resetFilterName()") X

        div.desc
          p #[em Mixed Input DB] is community-driven database dedicated to tracking, testing, and rating how videogames handle simultaneous input. So any combination of mouse, keyboard, and gamepad, used in parallel.
          p Games with good mixed input support are more accessible, and more fun to use with gyro controllers.
          p This subproject is hosted and maintained by Input Labs and its community.

    div.box.entry
      block content
        -
          const tierNames = {
            PLAT: 'Platinum',
            GOLD: 'Gold',
            SILV: 'Silver',
            BRON: 'Bronze',
            NO: 'No',
            '-': 'None',
          }
          const tierSort = {
            PLAT: 1,
            GOLD: 2,
            SILV: 3,
            BRON: 4,
            NO: 5,
            '-': 6,
          }

          const MIDB_sorted = Object.fromEntries(Object.entries(MIDB).sort((a, b) => {
            // Sort by tier.
            const [nameA, gameA] = a
            const [nameB, gameB] = b
            let tierA = tierSort[gameA.tier]
            let tierB = tierSort[gameB.tier]
            if      (tierA > tierB) return 1
            else if (tierA < tierB) return -1
            // Then sort alphabetically.
            else return nameA.localeCompare(nameB)
          }))

          const imgUrl = (id) => {
            if (typeof id == 'number') return `https://steamcdn-a.akamaihd.net/steam/apps/${id}/capsule_184x69.jpg`
            //- if (typeof id == 'number') return `https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/${id}/header.jpg`
            else return `/static/img/game_${id}.png`
          }

          const nameToId = (name) => name.replace(' ', '-').replace(':', '').toLowerCase()

        each game, name in MIDB_sorted
          div.game(
            id=nameToId(name)
            data-tier=game.tier
          )
            img.badge(src=`/static/img/badge_${tierNames[game.tier].toLowerCase()}.png`)
            img.cover(src=imgUrl(game.steamId) loading='lazy')
            div.info
              h3.title= name
              div.tier Mixed Input support: #{tierNames[game.tier]}

