-
  const active = (bool) => bool ? 'active' : 'inactive'

h1.dynamic
  a(class=active(PAGE=='alpakka') href='/devices/alpakka') Alpakka
  a.sub(class=active(SECTION_3=='manual') href=defaultPage('/devices/alpakka/manual')) Manual
  a.sub(class=active(PAGE=='gallery') href='/devices/alpakka/gallery') Gallery
  a.sub(class=active(PAGE=='components') href='/devices/alpakka/components') Components
