extends ../_template.pug

block title
  | Alpakka images and videos

block page
  include _title.pug

  mixin imglink(src)
    div.box.image
      a.img(href=src target='_blank')
        img(src=src)

  mixin imglinkurl(img, url, text, blank)
    - target = blank ? '_blank' : ''
    div.box.image
      a.img(href=url target=target)
        img(src=img)
        if text
          div #{text} ->

  div.boxes.grid
      +imglink('/static/img/alpakka_black_silver_stand.jpg')
      +imglink('/static/img/alpakka_black_silver_top.jpg')
      +imglink('/static/img/alpakka_black_silver_back.jpg')
      +imglink('/static/img/alpakka_black_silver_bottom.jpg')
      +imglinkurl(
        '/static/img/youtube.jpg',
        org.youtube,
        'Gameplay and DIY videos',
        true
      )
      +imglink('/static/img/alpakka_brief.jpg')
      +imglink('/static/img/alpakka_black_purple_stand.jpg')
      +imglink('/static/img/alpakka_black_blue_stand.jpg')
      +imglink('/static/img/alpakka_black_teal_stand.jpg')
      +imglink('/static/img/alpakka_black_lime_stand.jpg')
      +imglink('/static/img/alpakka_black_yellow_stand.jpg')
      +imglink('/static/img/alpakka_black_orange_stand.jpg')
      +imglink('/static/img/alpakka_black_red_stand.jpg')
      +imglink('/static/img/alpakka_black_pink_stand.jpg')
      +imglink('/static/img/alpakka_rainbow.jpg')
      +imglink('/static/img/alpakka_black_silver_info.jpg')
      +imglinkurl(
        '/static/wild/wild_lime_pair.jpg',
        'gallery_community',
        'Wild Alpakkas from the community'
      )
