-
  const Path = require('path')
  const FS = require('fs')
  const YAML = require('yaml')

  const SECTION = PATH.split('/')[1]
  const SECTION_2 = PATH.split('/')[2]
  const SECTION_3 = PATH.split('/')[3]
  const PAGE = Path.basename(PATH)

  const db = YAML.parse(FS.readFileSync('src/pug/db/_data.yaml', 'utf8'))

  const org = {
    repos: 'https://github.com/orgs/inputlabs/repositories?sort=name',
    fw_releases: 'https://github.com/inputlabs/alpakka_firmware/releases/',
    fw_release: 'https://github.com/inputlabs/alpakka_firmware/releases/tag/',
    roadmap: 'https://github.com/orgs/inputlabs/projects/2',
    forum: 'https://github.com/orgs/inputlabs/discussions',
    discord: 'https://discord.gg/s8Yb4pfusT',
    youtube: 'https://www.youtube.com/@inputlabs/videos',
    patreon: 'https://www.patreon.com/inputlabs',
    shop: 'https://inputlabs.squarespace.com',
  }

  const parent = {
    db:            '/db/stats',
    blog:          '/blog/report_9',
    alpakkaManual: '/alpakka/manual/mouse',
  }

  const loadMathJax = [
    'dual_gyro',
    'placeholder'
  ].includes(PAGE)

mixin nav
  -
    const active = (name) => {
      if (name==SECTION) return 'active'
      const devices = ['alpakka', 'kapybara']
      if (name=='devices' && devices.includes(SECTION)) return 'active'
      return ''
    }
  div.tab(class=active('devices')):    +a('/devices')    Devices
  div.tab(class=active('contribute')): +a('/contribute') Contribute
  div.tab(class=active('db')):         +a(parent.db)     Accessibility DB
  div.tab(class=active('blog')):       +a(parent.blog)   Blog
  div.tab:                             +ax(org.shop)     Shop

mixin wikilink(href, external=false)
  - const active = (href==PAGE)
  - const cls = (active ? 'active' : '')
  div.link(class=cls)
    if active
      span ->
    if external
      +ax(href)
        block
    else
      +a(href)
        block

mixin h3id(id)
  h3(id=id)
    block
    a(href='#'+id class='paragraph') ¶

mixin a(href)
  a(href=href)&attributes(attributes)
    block

mixin ax(href)
  //- a(href=(ENV=='prod' ? href : 'DISABLED') target='_blank')
  a(href=href target='_blank')&attributes(attributes)
    block

mixin axh(href)
  //- a(href=(ENV=='prod' ? href : 'DISABLED') target='_blank')
  a(href=href target='_blank')&attributes(attributes) #{href}

mixin dl(href)
  a(href=href download)&attributes(attributes)
    block

mixin figure(id, caption, src, cls)
  div.figure(class=cls)
    img(src=src)
    if id
      div.caption Figure #{id}: #{caption}
    else
      div.caption #{caption}

