block variables

html
  include _mixins.pug

  head
    //- Search engines.
    title
      | Input Labs -
      |
      block title
    if ENV != 'prod'
      link(rel='canonical' href=('https://inputlabs.io' + (PATH=='/' ? '' : PATH)))
      meta(name='robots' content='noindex')
    else
      meta(
        name='google-site-verification'
        content='1fMlzAxn174Ubb6hZmxRhVfYwiedS5Uc7089bxcCup0'
      )
    //- Style.
    meta(name='viewport' content='initial-scale=0.68')
    link(rel='stylesheet' href='/static/style.css')
    link(
      rel='icon'
      type='image/png'
      href='/static/img/favicon_light.png'
      media="(prefers-color-scheme: light)"
    )
    link(
      rel='icon'
      type='image/png'
      href='/static/img/favicon_dark.png'
      media="(prefers-color-scheme: dark)"
    )
    //- Scripts.
    script(type='text/javascript' src='/static/init.js' defer)
    script(
      defer
      data-domain=(ENV=='prod' ? 'inputlabs.io' : 'dev.inputlabs.io')
      src='https://plausible.io/js/plausible.outbound-links.file-downloads.js'
    )
    if loadMathJax
      script(
        type='text/javascript'
        id='MathJax-script'
        async
        src='/static/tex-svg.js' /* From: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js */
      )

  body
    header
      div.logo
        +a('/')
          div
            img(src='/static/img/logo.apng')
          span Input Labs

      div.icon
        +ax(org.discord)
          img(src='/static/img/discord.png')

      div.icon
        +ax(org.youtube)
          img(src='/static/img/youtube.png')

      div.icon
        +ax(org.repos)
          img(src='/static/img/github.png')

      div.icon
        +ax(org.patreon)
          img(src='/static/img/patreon.png')

      div.nav(class=((PAGE=='nav') ? '' : 'hide'))
        +nav

      div.mininav
        +a('/nav')
          img(src='/static/img/burger.svg')

    main
      block page

    footer
      div Input Labs Oy.
      div: a(role="button" data-toggleanimations="data-toggleanimations") Toggle animations
      div: +a('/about') About
      div: +a('/press') Press
      div: +ax('https://github.com/inputlabs/website/blob/main/license.md') CC BY-NC-SA
      //- div #{new Date().getFullYear()}
